<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:sharding="http://shardingjdbc.io/schema/shardingjdbc/sharding"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://shardingjdbc.io/schema/shardingjdbc/sharding 
                        http://shardingjdbc.io/schema/shardingjdbc/sharding/sharding.xsd">
    <context:component-scan base-package="com.ujigu.secure.demo" />
    
    <bean id="demo_ds_0" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
          <property name="poolProperties">
              <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">
                  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
                  <!-- 创建MySQL UTF-8编码数据库脚本：CREATE DATABASE stiku_ms DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci; -->
                  
                  <property name="url" value="jdbc:mysql://localhost:3306/demo_ds_0?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;allowMultiQueries=true" />
                  <property name="username" value="root" />
                  <property name="password" value="root" />
                  
                  <property name="maxActive" value="40"/>  
                  <property name="initialSize" value="1"/>
                  <property name="maxWait" value="60000"/>
                  <property name="maxIdle" value="5"/>
                  <property name="minIdle" value="2"/>
                  <property name="removeAbandoned" value="true"/>
                  <property name="removeAbandonedTimeout" value="180"/>
                  <property name="testWhileIdle" value="true"/><!-- 打开检查,用异步线程evict进行检查 -->  
                  <property name="testOnBorrow" value="false"/>
                  <property name="testOnReturn" value="false"/>  
                  <property name="validationQuery" value="select 1"/>  
                  <property name="validationInterval" value="10000"/> 
                  <property name="timeBetweenEvictionRunsMillis" value="30000"/>
                  <property name="numTestsPerEvictionRun" value="20"/> 
              </bean>
          </property>
       </bean>
    
    <bean id="demo_ds_1" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
          <property name="poolProperties">
              <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">
                  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
                  <!-- 创建MySQL UTF-8编码数据库脚本：CREATE DATABASE stiku_ms DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci; -->
                  
                  <property name="url" value="jdbc:mysql://localhost:3306/demo_ds_1?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;allowMultiQueries=true" />
                  <property name="username" value="root" />
                  <property name="password" value="root" />
                  
                  <property name="maxActive" value="40"/>  
                  <property name="initialSize" value="1"/>
                  <property name="maxWait" value="60000"/>
                  <property name="maxIdle" value="5"/>
                  <property name="minIdle" value="2"/>
                  <property name="removeAbandoned" value="true"/>
                  <property name="removeAbandonedTimeout" value="180"/>
                  <property name="testWhileIdle" value="true"/><!-- 打开检查,用异步线程evict进行检查 -->  
                  <property name="testOnBorrow" value="false"/>
                  <property name="testOnReturn" value="false"/>  
                  <property name="validationQuery" value="select 1"/>  
                  <property name="validationInterval" value="10000"/> 
                  <property name="timeBetweenEvictionRunsMillis" value="30000"/>
                  <property name="numTestsPerEvictionRun" value="20"/> 
              </bean>
          </property>
       </bean>
    
    <sharding:standard-strategy id="databaseShardingStrategy" sharding-column="user_id" precise-algorithm-class="com.ujigu.secure.demo.algorithm.PreciseModuloDatabaseShardingAlgorithm"/>
    <sharding:standard-strategy id="tableShardingStrategy" sharding-column="order_id" precise-algorithm-class="com.ujigu.secure.demo.algorithm.PreciseModuloTableShardingAlgorithm"/>
    
    <sharding:data-source id="shardingDataSource">
        <sharding:sharding-rule data-source-names="demo_ds_0, demo_ds_1">
            <sharding:table-rules>
                <sharding:table-rule logic-table="t_order" actual-data-nodes="demo_ds_${0..1}.t_order_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" generate-key-column="order_id" column-key-generator-class="com.ujigu.secure.demo.sequence.OrderIdGenerator" />
                <sharding:table-rule logic-table="t_order_item" actual-data-nodes="demo_ds_${0..1}.t_order_item_${0..1}" database-strategy-ref="databaseShardingStrategy" table-strategy-ref="tableShardingStrategy" />
            </sharding:table-rules>
        </sharding:sharding-rule>
    </sharding:data-source>
    
    <!-- <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="shardingDataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="shardingDataSource"/>
        <property name="mapperLocations" value="classpath*:mapper/demo/*.xml"/>
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ujigu.secure.demo.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean> -->
</beans>
